@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apple-ähnliche Grundstile */
html, body {
  background: #fff;
  color: #0b0b0c;
  font-synthesis-weight: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
